<!DOCTYPE html>
<html>
    <head>
        <title>Blog do Coroinha</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Página Principal</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Eu não aguento mais o Ensino Médio.</a></h2>
            <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Seria crime se eu cometesse um massacre no período da manhã da escola??</a></h2>
            <p>Malditas crianças do Gonzaga, odeio todas elas.</p>
        </article>
    </body>
</html>